
/* Style général */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color:white;
}

/* En-tête */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Section des photographes */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style des titres */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    text-decoration: none; 
}

/* Style des images */
.photographer_section article img {
    height: 200px;
    width: 200px;
   
    border-radius: 50%; 
    object-fit: cover; 
    object-position: center; 
    transition: transform 0.3s ease; 
}

/* Style des liens */
a {
    text-decoration: none; 
}

/* Style des liens */
a {
    
  
text-decoration: none; 
    color: inherit; 
}

a:visited {
    

color: inherit; 
}