
/* Style général */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color:white;
}

/* En-tête */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Section des photographes */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style des titres */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    text-decoration: none; /* Supprime le soulignement */
}

/* Style des images */
.photographer_section article img {
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Garde l’image centrée sans déformation */
    object-position: center; /* Centre l'image dans le cadre */
    transition: transform 0.3s ease; /* Effet de transition (si d'autres effets sont ajoutés) */
}

/* Style des liens */
a {
    text-decoration: none; /* Supprime le soulignement pour tous les liens */
}
